<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
    </httpProtocol>
	<httpErrors errorMode="Detailed" />
  	<iisnode nodeProcessCommandLine="node.exe" logDirectory="iisnode" loggingEnabled="true" devErrorsEnabled="true" maxLogFiles="100" />
  	<handlers>
        <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
        <rules>
            <rule name="nodeapp">
            <match url="/*" />
                <action type="Rewrite" url="main.js" />
            </rule>
            <!-- Don't interfere with requests for node-inspector debugging -->
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                <match url="^main.js\/debug[\/]?" />
            </rule>
        </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
	<customErrors mode="Off" />
  </system.web>
</configuration>
